
<ion-menu [content]="menuContent"  persistent="true">
 <ion-toolbar (click)="clicou()">
  <ion-title>Menu Principal</ion-title>
 </ion-toolbar>

 <ion-content>
   <ion-list>
     <button ion-item *ngFor="let p of pages" (click)="openPage(p,'left')">
      <ion-icon name="{{ p.icon }}"></ion-icon>
       {{ p.title }}
     </button>
   </ion-list>
 </ion-content>
</ion-menu>

<ion-menu side="right" type="overlay" [content]="menuContent" persistent="true" (ionOpen)="clicou()">
 <ion-toolbar (click)="clicou()">
  <ion-title>Menu Secundario</ion-title>
 </ion-toolbar>

 <ion-content>
   <ion-list>
    <button ion-item *ngFor="let p of pages" (click)="openPage(p,'right')">
     <ion-icon name="{{ p.icon }}"></ion-icon>
      {{ p.title }}
    </button>
   </ion-list>
 </ion-content>
</ion-menu>

<ion-nav #menuContent [root]="rootPage"></ion-nav>
