page-desc-detalhes {

}

//font-size: 12px;
//    font-weight: bold;

ion-navbar {
  font-size: 34px !important;
  color: #373952; // your  text color
  background: #f4f4f4; // your background color
  font-weight: bold;
}
